<!--<header *ngIf="isLoggedIn | async">-->
<header>
    <div class="container">
        <a href="#" routerLink="/user-profile"><img src="../../assets/img/Logo.svg" alt="Logo" class="logo"></a>
        <div class="search">
            <input type="text" name="" id="" class="search-input" placeholder="Пошук співробітника">
            <img src="../../assets/img/search.svg" alt="search" class="search-logo">
        </div>

        <div class="client">
            <span class="client-name">Марія Шевченко</span>
            <div class="client-photo"></div>
        </div>
    </div>
</header>
