<footer>
    <div class="container">
        <a href="https://credit-agricole.ua/">Офіційний сайт</a>
        <div class="social">
            <a href="https://www.instagram.com/creditagricoleukraine/?hl=uk"><img src="../../assets/img/inst.svg" alt="Inst"></a>
            <a href="https://www.facebook.com/CreditAgricoleUkraine/"><img src="../../assets/img/fb.svg" alt="FB"></a>
            <a href="https://www.youtube.com/channel/UC8oz51xqKXz-CzxDRN1MjyQ"><img src="../../assets/img/youTube.svg" alt="youTube"></a>
        </div>
        <span class="number">0 800 30 5555</span>
    </div>
</footer>
