* {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
}
footer .container {
  width: 100%;
  height: 53px;
  background-color: #8CCA19;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 43px;
}
footer .container .number,
footer .container a {
  color: #FFF;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
