* {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
}
body {
  min-width: 1348px;
  height: 100%;
}
body header {
  width: 100%;
  height: 50px;
  background: #8CCA19;
  border-radius: 0px 0px 35px 35px;
}
body header .container {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 43px;
}
body header .container .logo {
  width: 138px;
  height: 27px;
}
body header .container .search {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .container .search .search-input {
  border: none;
  background-color: inherit;
  color: #FFF;
  box-sizing: content-box;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  width: 180px;
}
body header .container .search .search-input::-moz-placeholder {
  color: #FFF;
}
body header .container .search .search-input::-webkit-input-placeholder {
  color: #FFF;
}
body header .container .search .search-input:focus {
  border-bottom: 2px solid #FFF;
  margin-bottom: -2px;
  outline: none;
}
body header .container .search .search-logo {
  content: " ";
  width: 24px;
  height: 24px;
}
body header .container .client {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
body header .container .client-name {
  color: #FFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
body header .container .client-name:before {
  display: inline-block;
  content: " ";
  width: 10px;
  height: 10px;
  background-color: #FFF;
  border-radius: 50%;
  margin-right: 10px;
}
body header .container .client-photo {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-image: url(img/favicon/user.svg);
  background-repeat: no-repeat;
  margin-left: 15px;
}
body main .monitoring .container {
  padding: 35px 43px 75px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
body main .monitoring .container .block {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}
body main .monitoring .container .m-header {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
body main .monitoring .container .managers {
  width: 25%;
  min-width: 320px;
}
body main .monitoring .container .managers-recent,
body main .monitoring .container .managers-now {
  width: 100%;
  min-width: 315px;
  min-height: 350px;
  padding-top: 5%;
}
body main .monitoring .container .managers-recent .list,
body main .monitoring .container .managers-now .list {
  margin: 25px /*10%*/ 25px 0;
}
body main .monitoring .container .managers-recent .list li:not(:first-of-type),
body main .monitoring .container .managers-now .list li:not(:first-of-type) {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5);
}
body main .monitoring .container .managers-recent .list li:first-of-type,
body main .monitoring .container .managers-now .list li:first-of-type {
  color: #8CCA19;
}
body main .monitoring .container .managers-recent .list li,
body main .monitoring .container .managers-now .list li {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  min-width: 95%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main .monitoring .container .managers-recent .list li:after,
body main .monitoring .container .managers-now .list li:after {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 44px;
  margin-right: 0;
  background-image: url(img/favicon/user.svg);
  background-position: center;
}
body main .monitoring .container .managers-now {
  margin-top: 25px;
}
body main .monitoring .container .user-achieves {
  width: 75%;
  margin-left: 40px;
}
body main .monitoring .container .user-achieves-top {
  height: 150px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
body main .monitoring .container .user-achieves-top .user-current {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  min-width: 450px;
  width: 35%;
}
body main .monitoring .container .user-achieves-top .user-current .photo {
  width: 151px;
  height: 151px;
  background-image: url(img/favicon/user.svg);
  background-repeat: no-repeat;
}
body main .monitoring .container .user-achieves-top .user-current-info {
  margin-left: 30px;
}
body main .monitoring .container .user-achieves-top .user-current-info .name {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 40px;
}
body main .monitoring .container .user-achieves-top .user-current-info .position {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.5);
}
body main .monitoring .container .user-achieves-top .user-percent {
  padding: 20px 25px;
  height: 100%;
  margin-left: 30px;
  width: 70%;
  min-width: 420px;
}
body main .monitoring .container .user-achieves-top .user-percent-title {
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
}
body main .monitoring .container .user-achieves-top .user-percent .progress {
  min-width: 360px;
  width: 100%;
  height: 30px;
  background: #8CCA19;
  opacity: 0.5;
  border-radius: 11px;
  margin-top: 20px;
  margin-bottom: 15px;
}
body main .monitoring .container .user-achieves-top .user-percent .percent {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}
body main .monitoring .container .user-achieves .user-statistic {
  margin-top: 30px;
  min-width: 900px;
  min-height: 545px;
  height: 70%;
  width: 100%;
  padding: 30px 72px;
}
body main .monitoring .container .user-achieves .user-statistic-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
body main .monitoring .container .user-achieves .user-statistic .diagramm {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -50px;
}
body main .monitoring .container .user-achieves .user-statistic .diagramm-example {
  position: relative;
}
body footer .container {
  width: 100%;
  height: 53px;
  background-color: #8CCA19;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 43px;
}
body footer .container .number,
body footer .container a {
  color: #FFF;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
