<app-header></app-header>
<main>
    <section class="monitoring">
        <div *ngIf="loggedUser.isAdmin" class="admin-settings">
            <a href="#" routerLink="/adminPanel">
                <img src="../../assets/img/settings.svg" alt="settings" class="admin-settings-img">
            </a>
            <div class="move">&gt;</div>
        </div>
        <div class="container">
            <div class="managers">
                <div class="managers-recent block">
                    <h3 class="managers-recent-header m-header">Топ менеджерів за 3 квартал</h3>
                    <ol class="managers-recent-list list">
                        <li *ngFor = "let user of users" (click)='lookUser(user)'>{{user.name + ' ' + user.surName}}<img src="data:image/jpeg;base64,{{user.profileImage}}"></li>
                    </ol>
                </div>
                <div class="managers-now block">
                    <h3 class="managers-now-header m-header">Топ менеджерів за поточний квартал</h3>
                    <ol class="managers-recent-list list">
                        <li *ngFor = "let user of users" (click)='lookUser(user)'>{{user.name + ' ' + user.surName}}<img src="data:image/jpeg;base64,{{user.profileImage}}"></li>
                    </ol>
                </div>
            </div>
            <div class="user-achieves">
                <div class="user-achieves-top">
                    <div class="user-current">
                        <img class="photo" src="data:image/jpeg;base64,{{currentUser.profileImage}}">
                        <div class="user-current-info">
                            <h2 class='name'>{{currentUser.name + ' ' + currentUser.surName}}</h2>
                            <span class="position">{{currentUser.position}}</span>
                        </div>
                    </div>
                    <div class="user-percent block">
                        <span class='user-percent-title'>Преміальний відсоток</span>
                        <div class="progress"></div>
                        <span class="percent">0%</span>
                    </div>
                </div>

                <div class="user-statistic block">
                    <h3 class="user-statistic-title">Поточний відсоток</h3>
                    <div class="charts">
                        <app-chart></app-chart>
                        <div class="criterias">
                            <h1 class="criterias-header">Поточні критерії</h1>
                            <ul class="criterias-list">
                                <ng-container *ngFor="let criteria of criterias">
                                    <li class="criterias-list-element" *ngIf="criteria.isEnabled">
                                        <span>{{criteria.name}}</span></li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
</main>